<h1 class="text-center">List of our cocktails</h1>

<ul>
  <% @cocktails.each do |cocktail| %>
    <li>
        <%= cocktail.name %> |
        <%= link_to "See details", cocktail_path(cocktail) %> |
        <%= link_to "Add ingredient and dose", cocktail_path(cocktail) %> |
    </li>
  <% end %>
</ul>

<%= link_to "Add a cocktail", new_cocktail_path %>
